.products-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 50px;
    padding: 50px 200px;
}

.product-card {
    position: relative;
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 20px;
    text-align: center;
    height: 650px;
}

.product-card p {
    font-size: 0.5em;
}

.product-card .counter-container {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 20px;
    left: 0;
    right: 0;
}

.product-card img {
    max-width: 100%;
    height: auto;
}
